@media
screen and (max-width: 1100px),
screen and (max-device-width:1100px){

  .title-header h1{
    font-size: 50pt;
  }
  .title-header h2{
    font-size: 25pt;
  }
  .button{
    visibility: hidden;
  }

  #resize-logo{
    width: 18%;
  }
  section{
    display: flex;
    flex-direction: column;
  }

  .third-row{
    flex-direction: column-reverse;
  }

  .bloc-top a{
  pointer-events: none;
  }

  img{
    margin-bottom: -4px;
  }

  .bloc-top img{
    opacity:1;
  }

  .second-row h2{
    display: block;
  }

  #seeMore-1, #seeMore-2, #seeMore-3{
    display: block;
  }

  #text-appear-1, #text-appear-2, #text-appear-3{
    display: none;
  }

  .over-img-last{
    position: relative;
  }

  footer{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 80px;
  }

  .picto{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .links{
    width: 100%;
  }

  .link1, .link2{
    display: flex;
    flex-direction: column;
  }
}



