html{
  width: 100%;
  margin:0;
  padding:0;
}

body{
  width: 100%;
  margin:0;
  padding:0;
}

.playfair{
  font-family: 'Playfair Display', serif;
}

.lato{
  font-family: 'Lato', sans-serif;
}

header{
  width: 100%;
}

header img{
  width: 100%;
}

/*Logo placed top/center*/

.logo{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex:1;
}


#resize-logo{
  width: 8%;
  border:none;
}

/*Relative disposition for the major div in header + form*/

.relative{
  position: relative;
}

/*Texts disposed in column*/

.title-header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex:1;
}

.title-header h1{
  font-size: 56pt;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
}

.title-header h2{
  font-size:40pt;
  margin:0;
}



#button-trial{
  border:none;
  background: white;
  padding: 0;
  margin: 0;
}

.button-header{
  display: flex;
  align-items: center;
  font-size: 20pt;
  padding: 8px 5px;
  border: none;
  width: 100%;
}

/*Will be the div that will go over the img. 3 columns for logo/title/button.
Then, width:100% so flex can be effective properly.
Finally, box-sizing + height:100% to let the div occupy the same space as the image below*/

.over-img{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: content-box;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}


.button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex:1;
}

