html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
}


main {
    display: flex;
    flex-direction: column;
    flex: 8;
}

footer {
    flex: 1;
}

section {
    flex: 1;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

/*Header*/

header {
    width: 100%;
}

header img {
    width: 100%;
}


/*Logo placed top/center*/

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

#resize-logo {
    width: 8%;
    border: none;
}

/*Relative disposition for the major div in header + form*/

.relative {
    position: relative;
    height: 100vh;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: center;
}

.relative2 {
    position: relative;
    height: 100vh;
    background-image: url(images/form.png);
    background-size: cover;
    background-position: center;
    z-index: 110;
}

.adjust-img {
    margin-bottom: -5px;
    /*To delete 5px margin between the 2 parts*/
}

.title-header {
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    flex: 4;
    /*That lign will occupy (4/(4+1+1)) = 4/6 = 66% of the available space)*/
    padding-left: 75px;
    /*  padding-top: 180px;*/
}

.title-header h2 {
    font-size: 6vw;
    max-width: 80%;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
}


.title-header h1 {
    font-size: 4vw;
    margin: 0;
}

#button-trial {
    border: none;
    color: black;
    background: white;
    padding: 0;
    padding-right: 10px;
    margin: 0;
}

.button-header {
    display: flex;
    align-items: center;
    font-size: 1vw;
    padding: 8px 0px 8px 5px;
    border: none;
    width: 100%;
}

/*Will be the div that will go over the img. 3 columns for logo/title/button.
Then, width:100% so flex can be effective properly.
Finally, box-sizing + height:100% to let the div occupy the same space as the image below*/

.over-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: -4px;
}


.button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    position: absolute;
    position: fixed;
    right: 6vw;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

/*main*/

/*Common to all rows*/

.flex {
    display: flex;
}

.first-row,
.second-row,
.third-row,
.last-row {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: auto;
}

.first-row article,
.first-row div,
.second-row div,
.second-row article,
.third-row div,
.third-row article {
    flex: 1;
}

.first-row-img img,
.second-row img,
.last-row img {
    width: 100%;
    margin-bottom: -4px;
}

.first-row article,
.second-row article {
    box-sizing: border-box;
}

.first-p {
    font-size: 1vw;
    margin: 0;
}

#seeMore-1,
#seeMore-2,
#seeMore-3 {
    display: none;
    border: none;
    background: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 5vw;
    width: 100%;
}

/*first-row*/

.first-row h2 {
    font-size: 3vw;
    margin: 0;
    font-weight: normal;
}

.first-row p,
.text-appear p {
    font-size: 1.5vw;
}

.first-row-text {
    padding: 80px 80px 0px 80px;
}

/*second-row*/
#bloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-row h2 {
    font-size: 3vw;
    margin: 0;
    font-weight: normal;
    display: none;
}

.second-row-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-appear-2 {
    padding: 10px 30px 0px 30px;
}

.second-row article {
    display: flex;
    margin: 0;
    padding: 0;
}

.second-row p {
    font-size: 1.5vw;
    flex: 1;
}

.space-between {
    justify-content: space-between;
    width: 100%;
}

.space-between .text-left {
    flex: 15;
}

.space-between .text-right {
    flex: 8;
    justify-content: flex-end;
}

.border-top {
    border-top: 1px solid black;
    padding-top: 50px;
}

.space-between p {
    margin: 0;
    padding-bottom: 20px;
}


/*third-row*/

/*bloc pictures*/
.third-row img {
    width: 100%;

}

.third-row a {
    width: 50%;
    margin-bottom: -4px;
}

.bloc-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bloc-top img {
    opacity: .4;
}

.bloc-top img:hover {
    opacity: 1;
}


/*Bloc text*/
.third-row h2 {
    font-size: 3vw;
    margin: 0;
    font-weight: normal;
}

.third-row p {
    font-size: 1.5vw;
}

.third-row-text {
    padding: 100px 80px 0px 80px;
}

/* last-row */

form p {
    display: flex;
    flex-direction: column;
}

#submit-button {
    display: flex;
    justify-content: center;
}

form input {
    font-size: 3vw;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
}

::placeholder {
    color: black;
    font-family: 'Lato', sans-serif;
}

#submit {
    font-size: 2vw;
    font-weight: bold;
    background: black;
    color: white;
    width: 50%;
    padding: 10px;
    font-family: 'Playfair Display', serif;
}

.text-last-row p:first-of-type {
    font-size: 4vw;
    margin: 0;
    padding-top: 50px;
}

.text-last-row p {
    font-size: 2vw;
    margin: 0;
    padding-left: 80px;
}

.text-last-row {
    max-height: 25%;
}

.form {
    display: flex;
    justify-content: flex-end;
    max-height: 75%
}

.form-div {
    width: 40%;
    padding-right: 150px;
}

#CGU-check {
    font-size: 2vw;
    color: black;
    padding: 10px;
    font-family: 'Playfair Display', serif;
}

#CGU-check input{
  width: 30px;
  height: 30px;
}

#CGU {
    color: blue;
}

#CGU-check a:visited {
    color: red;
}

/*footer*/

footer {
    background-color: black;
    flex-direction: row;
    display: flex;
    padding: 20px 80px;
}

footer h3,
a {
    color: white;
}

footer h3 {
    font-size: 1.5vw;
    font-weight: bold;
}

footer a {
    font-size: 1vw;
    line-height: 50px;
}

footer ul {
    padding: 0;

}

a {
    text-decoration: none;
}

.picto {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.links {
    display: flex;
}

.link2,
.link1 {
    width: 50%;
}

.picto a {
    padding: 10px;
}
